PROJECT/loadbalancer/src/main/resources/loadbalancer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LoadBalancerService"
	targetNamespace="http://it.univaq.disim.sose.project/loadbalancer" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:tns="http://it.univaq.disim.sose.project/loadbalancer"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.project/loadbalancer">
		
			<!-- Definisco il servizio di port -->
			<xsd:element name="Request" type="tns:Request" />
			<xsd:element name="Response" type="tns:Response" />
			
			<xsd:complexType name="Request">
				<xsd:sequence>
					<xsd:element name="service" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Response">
				<xsd:sequence>
					<xsd:element name="url" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>			
	
		</xsd:schema>
	</types>
	
	<message name="Request">
		<part name="parameters" element="tns:Request">
		</part>
	</message>
	<message name="Response">
		<part name="parameters" element="tns:Response">
		</part>
	</message>
	
	

	<portType name="LoadBalancer">
		<operation name="requestUrl">
			<input message="tns:Request"
				wsam:Action="http://it.univaq.disim.sose.project/loadbalancer/Request">
			</input>
			<output message="tns:Response"
				wsam:Action="http://it.univaq.disim.sose.project/loadbalancer/Response">
			</output>
		</operation>			
	</portType>
	
	<binding name="LoadBalancerBinding" type="tns:LoadBalancer">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="requestUrl">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>				
	</binding>
	
	<service name="LoadBalancerService">
		<port name="LoadBalancerPort" binding="tns:LoadBalancerBinding">
			<soap:address location="http://localhost:8080/loadbalancer/services/loadbalancer" />
		</port>			
	</service>
	
</definitions>
